# Configuracion API
API_PORT=8083

# Configuracion para base de datos Postgres. Varia segun entorno de desarrollo o prueba
# Local: 192.168.1.XX | AWS: base-db-centralizada.3taelao.us-east-2.rds.amazonaws.com
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=